.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  
 background-repeat:no-repeat;
 height:650px;
  background-image: linear-gradient(rgb(214, 148, 235),
   rgb(190, 88, 204), rgba(128, 38, 146, 0.925));
  
}


.hp {
  padding: 25px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  
  
  
}
.forgot{float: right; margin-right: 10%; position: relative; bottom: 13%;
         font-family:Arial; font-size: small;}

button {
  text-align: center;
 border: none;
  background-image: linear-gradient(to right, rgb(212, 26, 135),
   rgb(97, 3, 116));
  padding: 3px;
  width: 25%;
  position: relative;
  bottom: 5%;
  left: 35%;
  color: white;
  border-radius: 25px;}


.backimg {
  background-color: whitesmoke;
  height: 580px;
  width: 500px;
  
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  border: none;
  border-radius: 6px;
  background-repeat: no-repeat;
  position: relative;
  
  margin-bottom: 5%;  
}
.log{text-align: center; color: darkmagenta; 
  text-transform: capitalize;
  font-family:' 'Arial Narrow', Arial, sans-serif'; position: relative; bottom: 15%; }
  
  .highp{text-align: center; position: relative; bottom: 13%;}

.lapi{height: 450px; 
  width: 500px; border-radius: 50px 50px ;}

  .frmbox{ margin-left: 13%;margin-right: 13%; 
    position: relative; bottom: 14%; }

    hr{width: 80%; margin-top: 6%; left: 10%; position: relative;}
    
    .footer{text-align: center; font-family: Arial; font-size: small;}
    
    .footerh{ text-decoration: underline; text-align: center;}
   
    .laptop{height: 300px; 
      width: 350px; border-radius: 50px 50px ;}

      .star{float: right; margin-right: 5%; position: relative; bottom: 35%;}
     
     
      .bold{ font-size:medium; text-decoration: underline; }


      
      .backimg2 {
        background-color: whitesmoke;
     height: 620px;
        width: 500px;
        
        float: right;
        margin-right: 5%;
        margin-top: 5%;
        border: none;
        border-radius: 6px;
        background-repeat: no-repeat;
        position: relative;
        
        margin-bottom: 5%;  
      }
      .star2{float: right; margin-right: 4%; position: relative;  bottom: 29%;}
      
      .frmbox2{ margin-left: 13%;margin-right: 13%; 
    position: relative; bottom: 25%; }


    .button2 {
      text-align: center;
     border: none;
      background-image: linear-gradient(to right, rgb(212, 26, 135),
       rgb(97, 3, 116));
      padding: 3px;
      width: 25%;
      position: relative;
      bottom: 20%;
      left: 35%;
      color: white;
      }
      
      .hr2{width: 80%; bottom: 20%; left: 10%; position: relative;}
    

      .footer2{text-align: center; font-family: Arial; 
        font-size: small; position: relative; bottom: 20%;}


        .log2{text-align: center; color: darkmagenta; 
          text-transform: capitalize;
          font-family:' 'Arial Narrow', Arial, sans-serif'; position: relative; bottom: 20%; }